html{
    height: 150%;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(74,74,173,1) 35%, rgba(122,193,208,1) 100%);
    background-size: cover;
}
body{
    min-height: 100%;
    width: 100%;
    
    
}

#principale{
    
    width: auto;
    height: auto;  
    
    @media (max-width:1023px) {
        scale: 1.4;  
        padding-top: 200px;
    }
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    }

.profil {
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url(images/img-cyril.jpg);
    border-radius: 200px;
    background-size: contain;
    
}
#selection{
    width: 250px;
    height: 40px;
    position: absolute;
    left: 70px;
    bottom: 0px;
    text-align: center;
    border-radius: 15px;
}

#selection:hover{
    transform : scale(1.2);
    transition: 1000ms;
}
#presentation{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 400px;
        text-align: center;
        
}
h2{
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: -20px;
    color: rgb(255, 255, 255);
}
h3{
    font-size: 1.5em ;
    font-style: italic;
    color: rgb(251, 253, 253);
}
#presentation p {
    
    color: rgb(251, 253, 253);
}
/* Responsive pour ordinateur. Partie mobile plus bas */
.profilmove {
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url(images/img-cyril.jpg);
    border-radius: 200px;
    background-size: contain;
    @media (min-width:1024px) {
        transform:  translateX(-200px);
        transition: 2000ms;  
    }
    
}
@media (min-width:1024px){
    .imagewp {
        scale: 0;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        bottom: 80px;
        left: 450px;
        border-radius: 90px;
        
    }
    .wordpressimgmove {
        transform: scale(1);
        transition: 1000ms;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin: 30px;
        bottom: 100px;
        left: 450px;
        border-radius: 90px;
        
    }
    
    .javascriptimgmove {
        transform: scale(1);
        transition: 1000ms;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin: 30px;
        bottom: 250px;
        left: 450px;
        border-radius: 90px;
        
    }
    .javascriptimgmove2 {
        transform: scale(1);
        transition: 1000ms;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin: 30px;
        bottom: 50px;
        left: 450px;
        border-radius: 90px;
        
    }
    #univ{
        position: relative;
    
       
    }
    #univ:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        border: solid whitesmoke;
        
    }
    #mars{
        position: relative;
    
    }
    #mars:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        border: solid whitesmoke;
    
    }
    @keyframes monanim {
        0% {
            transform: scale(0)
        }
        100% {
            transform: scale(1)
        }
        ;
    }
    
    #textuniv {
        position: absolute;
        width: 300px;
        height: auto;
        top: 80px;
        left: 630px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
    }
    #textuniv h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textuniv p{
        text-align: justify;
    }
    #textmars {
        position: absolute;
        width: 300px;
        height: auto;
        top: 80px;
        left: 630px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
    }
    #textmars h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textmars p{
        text-align: justify;
    }
    #bits{
        position: relative;
    
       
    }
    #bits:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        border: solid whitesmoke;
        
    }
    #textbits {
        position: absolute;
        width: 300px;
        height: auto;
        top: 80px;
        left: 630px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
    }
    #textbits h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textbits p{
        text-align: justify;
    }
}

/* pour les mobiles ci-dessous*/

@media (max-width:1024px){

    #wordpress{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .imagewp {
        scale: 0;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: row;
        margin: 10px;
        bottom: 80px;
        left: 450px;
        border-radius: 90px;
        
    }
    .wordpressimgmove {
        transform: scale(1);
        transition: 1000ms;
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        top: 400px;
        
        border-radius: 90px;
        
    }
    
    .javascriptimgmove {
        transform: scale(1);
        transition: 1000ms;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: row;
        margin: 30px;
        bottom: 250px;
        left: 450px;
        border-radius: 90px;
        
    }
    .javascriptimgmove2 {
        transform: scale(1);
        transition: 1000ms;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: row;
        margin: 30px;
        bottom: 50px;
        left: 450px;
        border-radius: 90px;
        
    }
    #univ{
        position: relative;
    
       
    }
    #univ:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        border: solid whitesmoke;
        
    }
    #mars{
        position: relative;
    
    }
    #mars:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        border: solid whitesmoke;
    
    }
    @keyframes monanim {
        0% {
            transform: scale(0)
        }
        100% {
            transform: scale(1)
        }
        ;
    }
    
    #textuniv {
        position: absolute;
        scale: 1.3;
        width: 400px;
        height: auto;
        top: 800px;
        left: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
    }
    #textuniv h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textuniv p{
        text-align: justify;
    }
    #textmars {
        position: absolute;
        scale: 1.3;
        width: 400px;
        height: auto;
        top: 800px;
        left: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
    }
    #textmars h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textmars p{
        text-align: justify;
    }
    #bits{
        position: relative;
    
       
    }
    #bits:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        border: solid whitesmoke;
        
    }
    #textbits {
        position: absolute;
        width: 300px;
        height: auto;
        top: 80px;
        left: 630px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
    }
    #textbits h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textbits p{
        text-align: justify;
    }
}
