html{
    @media (min-width: 1000px) {
    height: auto;
    width: auto;
    background-image: url(images/bg-portefolio.png);
    background-size: cover;
    }
    @media (max-width: 999px) {
        height: auto;
        width: auto;
        background-image: url(images/bg-portefolio.png);
        background-size: auto;
        }
    
}
body{
    min-height: 100%;
    width: 100%;   
}
#principale{ 
    width: auto;
    height: auto;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (max-width:1023px) {
        scale: 2;  
        padding-top: 300px;
        position: relative;
        left: 250px;
    };
    }
#social{
    width: 50px;
    position: relative;
    top: 300px;
    left: 330px;

}
#social:hover{
    transform: scale(1.4);
    transition: 1000ms;


}
#github{
    width: 50px;
    position: relative;
    top: 230px;
    left: 310px;

}
#github:hover{
    transform: scale(1.4);
    transition: 1000ms;

}
.profil {
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url(images/img-cyril.jpg);
    border-radius: 200px;
    background-size: contain;
    
}
#selection{
    width: 250px;
    height: 40px;
    position: absolute;
    left: 70px;
    bottom: 0px;
    text-align: center;
    border-radius: 15px;
}

#selection:hover{
    transform : scale(1.2);
    transition: 1000ms;
}
#presentation{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 400px;
        text-align: center;
        
}
h2{
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: -20px;
    color: rgb(255, 255, 255);
}
h3{
    font-size: 1.5em ;
    font-style: italic;
    color: rgb(241, 188, 74);
}
#presentation p {
    position: relative;
    left: -50px;
    font-size: 18px;
    width: 500px;
    margin-top: -10px;
    text-align: justify;
    color: rgb(250, 186, 91);
}

/* Responsive pour ordinateur. Partie mobile plus bas */

.profilmove {
    width: 400px;
    height: 400px;
    position: relative;
    background-image: url(images/img-cyril.jpg);
    border-radius: 200px;
    background-size: contain;
    @media (min-width:1024px) {
        transform:  translateX(-300px);
        transition: 2000ms;  
    }
    
}
@media (min-width:1024px){
    #textunivmobile{
        display: none;
    }
    #textmarsmobile{
        display: none;
    }
    #promptmobile{
        display: none;
    }
    .imagewp {
        scale: 0;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: row;
        margin: 10px;
        bottom: 80px;
        left: 450px;
       /* border-radius: 90px;*/
        
    }
    #wordpress{
        display: flex;
    }
    .wordpressimgmove {
        transform: scale(1);
        transition: 1000ms;
        width: 250px;
        height: 180px;
        display: flex;
        flex-direction: row;
        margin: 30px;
        bottom: 150px;
        left: 450px;
        border-radius: 5px;
        
    }
    
    .javascriptimgmove {
        transform: scale(1);
        transition: 1000ms;
        width: 250px;
        height: 180px;
        display: flex;
        flex-direction: row;
        margin: 30px;
        bottom: 300px;
        left: 600px;
        border-radius: 5px;
        
    }
    .javascriptimgmove2 {
        transform: scale(1);
        transition: 1000ms;
        width: 250px;
        height: 180px;
        display: flex;
        flex-direction: row;
        margin: 30px;
        bottom: 150px;
        left: 600px;
        border-radius: 5px;
        
    }
    #univ{
        position: relative;
        box-shadow: 5px 5px 10px black;

    
       
    }
    #univ:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        transform: translateX(110px);
        z-index: 1;
        box-shadow: 10px 10px 40px black;

        border: solid whitesmoke;
        
    }
    #mars{
        position: relative;
        box-shadow: 5px 5px 10px black;

    
    }
    #mars:hover{
        scale: 1.4;
        transform: translateX(-110px);
        transition: 1000ms;
        border-width: 8px;
        border: solid whitesmoke;
        box-shadow: 10px 10px 40px black;

    
    }
    @keyframes monanim {
        0% {
            transform: scale(0)
        }
        100% {
            transform: scale(1)
        }
        ;
    }
    
    #textuniv {
        position: absolute;
        width: 500px;
        height: auto;
        z-index: 3;
        top: 350px;
        left: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
        box-shadow: 5px 5px 10px black;

    }
    #textuniv h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textuniv p{
        text-align: justify;
    }
    #textmars {
        position: absolute;
        width: 500px;
        height: auto;
        top: 350px;
        left: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
        box-shadow: 5px 5px 10px black;

    }
    #textmars h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textmars p{
        text-align: justify;
    }
    #bits{
        position: relative;
        box-shadow: 5px 5px 10px black;

    
       
    }
    #bits:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        box-shadow: 10px 10px 40px black;
        border: solid whitesmoke;
        
    }
    #textbits {
        position: absolute;
        width: 500px;
        height: auto;
        top: 350px;
        left: 500px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
        box-shadow: 5px 5px 10px black;

    }
    #textbits h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textbits p{
        margin-top: -20px;
        text-align: justify;
    }
}

/* pour les mobiles ci-dessous*/

@media (max-width:1000px){
#promptmobile{
    
    z-index: 4;
    width: 200px;
    height: 150px;
    transform: scale(2);
    display: flex;
    flex-direction: column;
    transition-duration:  1000ms;
    top: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
}
#promptmobile button{
    margin-top: 5px;
}
    #wordpress{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .imagewp {
        scale: 0;
        width: 250px;
        height: 180px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;
        bottom: 80px;
        left: 450px;
        border-radius: 5px;
        
    }
    .wordpressimgmove {
        transform: scale(1);
        transition: 1000ms;
        width: 250px;
        height: 180px;
        display: flex;
        flex-direction: row;
        padding: 0px 20px;
        justify-content: space-around;
        margin-top: 30px;
        left: -100px;
        top: 400px;
        
        border-radius: 5px;
        
    }
    
    .javascriptimgmove {
        transform: scale(1);
        transition: 1000ms;
        width: 250px;
        height: 180px;
        display: flex;
        flex-direction: row;
        margin: 30px;
        bottom: 250px;
        left: 450px;
        border-radius: 90px;
        
    }
    .javascriptimgmove2 {
        transform: scale(1);
        transition: 1000ms;
        width: 250px;
        height: 180px;
        display: flex;
        flex-direction: row;
        margin: 30px;
        bottom: 50px;
        left: 450px;
        border-radius: 90px;
        
    }
    #univ{
        position: relative;
    
       
    }
    #univ:hover{
        position: relative;
        
    }
    #mars{
        position: relative;
    
    }
    #mars:hover{
        position: relative;
    
    }
    @keyframes monanim {
        0% {
            transform: scale(0)
        }
        100% {
            transform: scale(1)
        }
        ;
    }
    
    #textunivmobile {
        position: absolute;
        scale: 1.3;
        width: 200px;
        height: auto;
        top: 950px;
        left: -70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        background-color: whitesmoke;
    }
    #textmarsmobile {
        position: absolute;
        scale: 1.3;
        width: 200px;
        height: auto;
        top: 940px;
        left: 240px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        background-color: whitesmoke;
    }
    #textuniv h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textuniv p{
        text-align: justify;
    }
   
    #textmars h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textmars p{
        text-align: justify;
    }
    #bits{
        position: relative;
    
       
    }
    #bits:hover{
        scale: 1.4;
        transition: 1000ms;
        border-width: 8px;
        border: solid whitesmoke;
        
    }
    #textbits {
        position: absolute;
        width: 300px;
        height: auto;
        top: 80px;
        left: 630px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 30px;
        animation: monanim ;
        animation-duration: 1000ms;
        background-color: whitesmoke;
    }
    #textbits h3{
        position: relative;
        margin-top: -30px;
        color: darkslategray;
        top: 30px;
    }
    #textbits p{
        text-align: justify;
    }
}
